<div class="section-box contact-info has-map">
    <ul class="contact-list">
        <li class="clearfix">
            <strong>Address</strong>
            <span>Belgium, Brussels, Liutte 27, BE</span>
        </li>
        <li class="clearfix">
            <strong>phone</strong>
            <span><a href="tel:+12562548456">+1 256 254 84 56</a></span>
        </li>
        <li class="clearfix">
            <strong>E-mail</strong>
            <span><a href="mailto:robertsmith@company.com">robertsmith@company.com</a></span>
        </li>
    </ul>

    <div id="map" data-latitude="50.84592" data-longitude="4.366859999999974"></div>
</div>