<body class="home header-has-img loading">

    <% include nav/nav-mobile.ejs %>
    
    <% include sidebar.ejs %>

    <div class="wrapper">
        <% include header.ejs %>
        
        <div class="content">
            <div class="container">
                <!-- START: PAGE CONTENT -->
                <% include ../../views/timeline/index.ejs %>
                <!-- END: PAGE CONTENT -->
            </div>
            <!-- .container -->
        </div>
        <!-- .content -->

    <% include footer.ejs %>
    
    </div>
    <!-- .wrapper -->
    
    <a class="btn-scroll-top" href="#"><i class="rsicon rsicon-arrow-up"></i></a>
    
    <div id="overlay"></div>
    <div id="preloader">
        <div class="preload-icon"><span></span><span></span></div>
        <div class="preload-text">Loading ...</div>
    </div>
    
    <% include feet.ejs %>
</body>