<section id="<% section.id %>" class="section section-<% section.title %>">
    <div class="animate-up animated">
        <h2 class="section-title"><% section.title %></h2>

        <div class="section-box">
            <% section.content %>
        </div>
    </div>
</section>
<!-- #text-section -->