/**
 * 6.1 - Buttons
 */
 .btn {
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    margin-bottom: 0;
    background-image: none;
}

.btn,
.btn-outer {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    /*box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.17);*/
}

.btn-outer .btn {
    box-shadow: none;
}

.btn:hover,
.btn:focus,
.btn-outer:hover,
.btn-outer:focus {
    opacity: 0.95;
    text-decoration: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-outer {
    display: inline-block;
}

.btn-outer .btn {
    background: transparent !important;
}

.btn-outer:hover .btn,
.btn-outer:focus .btn {
    opacity: 1;
    box-shadow: none;
}

.btn-lg {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 20px;
    min-width: 130px;
}

.btn-border {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #3d4451 !important;
    border: 1px solid #cbcdcf;
    background: transparent;
    box-shadow: none;
}

.btn-primary {
    color: #fff;
}

.btn-scroll-top {
    z-index: 10;
    bottom: 35px;
    right: 40px;
    position: fixed;
    width: 40px;
    height: 40px;
    display: none;
    text-align: center;
    text-decoration: none;
    border: 1px solid #d2d2d2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.btn-scroll-top:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.btn-scroll-top .rsicon {
    color: #c8c8c8;
    color: rgba(0, 0, 0, 0.2);
    font-size: 15px;
    font-weight: bold;
    line-height: 38px;
}

@media (max-width: 1180px) {
    .btn-scroll-top {
        right: 15px;
        bottom: 15px;
    }
}